[Desktop Entry]
Encoding=UTF-8
Name=TurboStake
Comment=Desktop allet for TurboStake Cryptocurrency
Comment[de]=Offizieller Client für die Kryptowährung TurboStake
Exec=turbostake-qt %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/turbostake128.png
MimeType=x-scheme-handler/turbostake;
Categories=Office;Finance;
StartupWMClass=TurboStake-qt
