[Desktop Entry]
Encoding=UTF-8
Name=TurboStake (testnet)
Comment=Desktop allet for TurboStake Cryptocurrency (testnet)
Comment[de]=Offizieller Client für die Kryptowährung TurboStake (testnet)
Exec=turbostake-qt -testnet %u
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/turbostake-testnet128.png
MimeType=x-scheme-handler/turbostake;
Categories=Application;Network;
